
#splash
{
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 100vh;

  background-color: $dark;
  color: $light;

  z-index: 1000;

  transform: translateX(-100%);
  transition: transform 1s;

  justify-content: center;

}

#splash.show
{
  transform: translateX(0px);
}

#splash img
{
  width: 30%;
  margin-bottom: 32px;
}
